/node_modules
storage/
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.json
composer.lock

package-lock.json
/public/css
/public/js
/public/fonts
/public/mix-manifest.json
npm-debug.log
.phpstorm.meta.php
_ide_helper.php
