.form-control, .form-control:focus, input{
  border-width: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;

  &::placeholder {
    color: #95a5a6;
  }
}

.col-form-label {
  text-align: right;
}

legend {
  border: none;
}

.well {
    border: none;
    box-shadow: none;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    border-radius: 4px;
}
