
// Public
@import "public";

//Simplemde
@import url("vendor/simplemde.min.css");

// Markdown
@import "markdown";
@import url("vendor/highlight.min.css");

@import "form";
@import "navbar";
@import "ibox";
@import "toastr";
@import "togglebutton";

body {
  background-color: #f9f9fb;
  color: #636b6f !important;
}

.navbar-toggler {
  color: $wet-asphalt;
}

.btn i {
  color: #fff;
}

.width-5-percent {
    width: 5%;
}
.width-10-percent {
    width: 10%;
}
.no-margin {
    margin: 0 !important;
}
.multiselect__content {
    z-index: 2;
}
.avatar {
    width: 50px;
    margin: 0 auto;
}
.editor-toolbar.fullscreen {
    z-index: 1000 !important;
}
.CodeMirror-fullscreen {
    z-index: 1000 !important;
}
